.main-section {
  padding-top: 440px;
  width: 100%;
  max-width: 1220px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  margin: 0 auto;
  letter-spacing: 0.02em;
}

.description {
  font-size: 17px;
  line-height: 1.1em;
  letter-spacing: 0.1px;
  font-weight: 500;
  margin: 0px 0 0px;
  padding: 0;
  color: #000;
  font-family: 'lato', non-serif;
  position: fixed;
  text-transform: uppercase;
  z-index: 95;
  text-align: left;
  width: auto;
}

.gallery {
  margin: 1% 0 28%;
}

.gallery__image {
  width: 100%;
}

.gallery__item {
  width: auto;
  height: auto;
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  position: relative;
  word-spacing: -1;
  margin: 0 -2px;
}

.gallery__item:hover {
  z-index: 90 !important;
}

.gallery__item--1 {
  display: block;
  margin: 0 auto;
  transform: rotate(-8deg);
  width: 34.2%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--2 {
  margin-left: 5%;
  margin-top: 10%;
  width: 34.2%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--3 {
  transform: rotate(-16deg);
  margin-left: 15%;
  margin-top: 15%;
  width: 23.1%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--4 {
  transform: rotate(12deg);
  margin-left: 18%;
  margin-top: 10%;
  width: 26.5%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--5 {
  transform: rotate(6deg);
  margin-left: 12%;
  margin-top: 5%;
  width: 26.5%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--6 {
  transform: rotate(-19deg);
  margin-left: -3%;
  margin-top: 13%;
  width: 23.1%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--7 {
  transform: rotate(-6deg);
  margin-left: 5%;
  margin-top: 5%;
  z-index: 80;
  width: 28.52%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--8 {
  transform: rotate(4deg);
  margin-left: 26%;
  margin-top: 15%;
  width: 26.5%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--9 {
  transform: rotate(19deg);
  margin-left: 12%;
  margin-top: -3%;
  width: 28.52%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--10 {
  transform: rotate(-12deg);
  margin-left: 30%;
  margin-top: 15%;
  width: 26.5%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--11 {
  transform: rotate(-6deg);
  margin-left: 0%;
  margin-top: -5%;
  width: 42.2%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--12 {
  transform: rotate(0deg);
  margin-left: 24%;
  margin-top: 15%;
  width: 28.52%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--13 {
  transform: rotate(12deg);
  margin-left: 13%;
  margin-top: -13%;
  width: 28.52%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.gallery__item--14 {
  transform: rotate(-22deg);
  margin-left: 35%;
  margin-top: 5%;
  width: 42.2%;

  -webkit-transition: all 3.8s;
  -moz-transition: all 3.8s;
  -o-transition: all 3.8s;
  transition: all 3.8s;
}

.main-section__link {
  text-decoration: none;
  font-family: 'Lato', non-serif;
  font-size: 26px;
  color: black;
  line-height: 1.3em;
  letter-spacing: -0.5px;
  font-weight: bold;
  margin-bottom: 140px;
  display: inline-block;
  z-index: 99;
  position: relative;
  max-width: 90%;
}

.main-header {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.main-header--hide {
  opacity: 0;
}

.main-header__image {
  width: auto !important;
  max-width: 90%;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media all and (max-width: 890px) {
  .main-section {
    padding-top: 340px;
  }

  .main-section__link {
    margin-top: 120px;
  }

  .gallery {
    margin: 8% 0 !important;
  }

  .gallery__item {
    width: 70% !important;
    margin: 2% !important;
  }

  .gallery__item--1 {
    margin-left: 18% !important;
  }

  .description {
    position: relative;
    left: auto;
    bottom: auto;
    right: auto;
    text-align: center !important;
    width: 70%;
    margin: 2% auto;
    display: none !important;
  }
}

@media all and (max-width: 550px) {
  .main-section {
    padding-top: 240px;
  }
}
